*{
    margin: 0px;
    padding: 0px;
}

.contanier1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}
.navbar{
    border: 1px solid black;
    padding: 20px;
    width: 96%;
    height: 6%;
    position: absolute;
    bottom: 87%;
    left: -1px;
    background-color: #74C69D;
}
.logo{
    margin: -7px 25px;
    display: flex;  
}
.bar{
    display: flex;
    justify-content: right;
    gap: 5%;
    margin: -31px 20px;
}
.bar1{
    color: white;
    text-decoration: none;
}


